<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main role="main">
	<section>
        <h1><%= title %></h1>
        <p><%= description %></p>
            <div class="results">
            <h2><%= results.weight %></h2>
            </div>
	</section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>